
<div id="contenedorTablaEmpresa" class="contenedorTable">
  <div class="contenedorTitulo">
    <h3>Gestión de empresas</h3>
    <h4>Agrega, edita o elimina número de usuarios.</h4>
    <br>
    <button style="float: right;" type="button" class="btn btn-dark" (click)="agregarEmpresa()">Agregar</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">No.</th>
        <th scope="col">Estado</th>
        <th scope="col">Nombre</th>
        <th scope="col">E-mail</th>
        <th scope="col">NIT</th>
        <th scope="col">OPCIONES</th>
        
      </tr>
    </thead>
    <tbody>
      <tr style="cursor: pointer" *ngFor="let empresa of Empresas; let item = index; let noPar = odd; let noImpar = even">
        <!-- ***** INICIO SI EL NÚMERO ES PAR SE COLOREA DE COLOR CELESTE ******-->
        <th  *ngIf="noPar" class="table-primary" scope="row">{{item+1}}</th>
        <td *ngIf="noPar" class="table-primary">{{empresa.estado}}</td>
        <td *ngIf="noPar" class="table-primary">{{empresa.nombre_comercial}}</td>
        <td *ngIf="noPar" class="table-primary">{{empresa.correo}}</td>
        <td *ngIf="noPar" class="table-primary">{{empresa.nit}}</td>
        <td *ngIf="noPar" class="table-primary">
          <svg (click)="editarEmpresa(empresa.id)" id="editarEmpresa" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          &nbsp;
          &nbsp;
          &nbsp;
          <svg (click)="eliminarEmpresa(empresa.id)" id="eliminarEmpresa" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </td>
        <!-- ***** FIN SI EL NÚMERO ES PAR SE COLOREA DE COLOR CELESTE ******-->
  
        <!-- ***** INICIO SI EL NÚMERO ES IMPAR SE COLOREA DE COLOR CELESTE ******-->
        <th  *ngIf="noImpar" class="table-info" scope="row">{{item+1}}</th>
        <td *ngIf="noImpar" class="table-info">{{empresa.estado}}</td>
        <td *ngIf="noImpar" class="table-info">{{empresa.nombre_comercial}}</td>
        <td *ngIf="noImpar" class="table-info">{{empresa.correo}}</td>
        <td *ngIf="noImpar" class="table-info">{{empresa.nit}}</td>
        <td *ngIf="noImpar" class="table-info">
          <svg (click)="editarEmpresa(empresa.id)" id="editarEmpresa" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z"/>
          </svg>
          &nbsp;
          &nbsp;
          &nbsp;
          <svg (click)="eliminarEmpresa(empresa.id)" id="eliminarEmpresa" xmlns="http://www.w3.org/2000/svg" style="cursor: pointer" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
            <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
          </svg>
        </td>
        <!-- ***** FIN SI EL NÚMERO ES IMPAR SE COLOREA DE COLOR CELESTE ******-->
      </tr>
    </tbody>
  </table>
</div>



